
/logs
/old_logs
/0-old
/async-droq/logs
/async-droq/runs
/5-droq
/eval/runs
/runsA

./t.py
**/misc
**/*.mp4
**/*.csv
**/*events.out*
**/*.pth
**/*.png
**/*__pycache__
__pycache__
**/*__pyc
**/*.pdf
**/*.pkl
t.py

